@import './variables.scss';

.note {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  border: 5px solid;
  border-radius: 10px;

  box-shadow: inset 0px 0px 0px 5px white;

  &__header {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    border-bottom: 3px solid grey;
  }
  
  &__main {
    width: 100%;
    height: 100%;
    margin: $noteWidth / 29.6 0;
  }

  &__footer {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
  }

  &__date {
    font-size: $noteWidth / 29.6;
    color: grey;
  }

  &__title {
    margin: $noteWidth / 59.2 0;    
    align-self: center;
    font-size: $noteWidth / 10;
    color: #0f0f0f;

    &--input {
      margin: 0;
      width: 100%;
    }
  }

  &__text {
    display: block;
    width: 100%;
    height: 100%;
    
    font-size: $noteWidth / 18.5;
    color: #0f0f0f;
    white-space: pre-line;

    &--input {
      align-self: center;
      line-height: $noteWidth / 18.5;
    }
  }

  &__bgColor {
    &--input {
      width: 60%;
      height: 1.5vw;
      font-size: 1.3vw;
      border: none;
      padding: 0;
      margin: 0;
    }

    &--button {
      width: 40%;
      height: 1.5vw;
      font-size: 1vw;
      background-color: #bc8041;
      border: none;
      color: #ffffff;

      transition: 200ms linear;

      &:focus, &:hover {
        font-weight: bold;
      }
    }
  }

  &__submitBtn {
    position: absolute;
    top: 0;
    right: 0;
    
    height: 1vw;
    font-size: 0.8vw;

    background-color: #bc8041;
    color: #ffffff;
    border: none;

    border-radius: 0 10px 0 0;

    &:focus, &:hover {
      font-weight: bold;
    }
  }

  &__closeBtn, &__palleteBtn {
    position: absolute;
    right: 0;
    width: $noteWidth / 10;
    height: $noteWidth / 10;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__closeBtn {
    top: 0;
    border-radius: 0 10px 0 0;
  }

  &__closeImg {
    width: $noteWidth / 13;
    height: $noteWidth / 13;
    transition: 200ms linear;
  }

  &__palleteBtn {
    bottom: 0;
    border-radius: 0 0 10px 0;
  }

  &__palleteImg {
    width: $noteWidth / 12;
    height: $noteWidth / 12;
    transition: 200ms linear;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
}

.deleteWarn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  padding: 0.2vw;
  box-sizing: border-box;
  
  background-color: #ffffff;
  border: 2px solid #bc8041;
  border-radius: 5px;

  font-size: 1vw;

  display: grid;
  grid-template-areas: 
    "message message"
    "yes no";
  grid-row-gap: 0.3vw;
  justify-items: center;

  &__text {
    grid-area: message;
    text-align: center;
  }

  &__Btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #bc8041;
    border-radius: 2px;
    padding: 0;
    width: 2.2vw;

    transition: 200ms linear;

    &--accept {
      grid-area: yes;

      &:hover, &:focus {
        background-color: red;
        color: white;
      }
    }

    &--reject {
      grid-area: no;

      &:hover, &:focus {
        background-color: green;
        color: white;
      }
    }
  }
}


@media screen 
and (max-width: 450px) {
  .note {
    padding: 2px;
    border: 2px solid;
    border-radius: 3px;  
    box-shadow: inset 0px 0px 0px 2px white;
  
    &__header {
      border-bottom: 1px solid grey;
    }
    
    &__main {
      margin: $noteWidth / 29.6 0;
    }
  
    &__date {
      font-size: $noteWidth / 29.6;
    }
  
    &__title {
      margin: $noteWidth / 59.2 0;    
      font-size: $noteWidth / 10;
    }
  
    &__text {
      font-size: $noteWidth / 18.5;
      &--input {
        line-height: $noteWidth / 18.5;
      }
    }
  
    &__bgColor {
      &--input {
        width: 60%;
        height: 4.5vw;
        font-size: 3.9vw;
      }
  
      &--button {
        width: 40%;
        height: 4.5vw;
        font-size: 3vw;
      }
    }
  
    &__submitBtn {
      height: 3vw;
      font-size: 2.4vw;
      border-radius: 0 3px 0 0;
    }
  
    &__closeBtn, &__palleteBtn {
      width: $noteWidth / 10;
      height: $noteWidth / 10;
    }
  
    &__closeBtn {
      border-radius: 0 3px 0 0;
    }
  
    &__closeImg {
      width: $noteWidth / 13;
      height: $noteWidth / 13;
    }
  
    &__palleteBtn {
      bottom: 0;
      border-radius: 0 0 3px 0;
    }
  
    &__palleteImg {
      width: $noteWidth / 12;
      height: $noteWidth / 12;
    }
  }
  
  .deleteWarn {
    padding: 0.5vw;
    
    border: 1px solid #bc8041;
    border-radius: 2px;
  
    font-size: 3vw;
  
    
    grid-row-gap: 0.9vw;
  
  
    &__Btn {
      width: 6.6vw;
    }
  }
}

