@import './variables.scss';

.user {  
  min-height: 93vh;

  &__blockNotes {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.bn {
  &__wrap {
    position: relative;

    display: flex;
    align-items: center;
    
    height: 100%;
    width: 70%;
    margin: $noteWidth*0.148 0;
    padding: $noteWidth*0.074 $noteWidth*0.148;
    box-sizing: border-box;

    border: $noteWidth*0.025 solid;
    box-shadow: inset 0px 0px 0px $noteWidth*0.025 white;

    transition: 300ms linear;

    &:nth-child(odd) {
      border-radius: $noteWidth 0 0 $noteWidth;
      flex-direction: row-reverse;
      align-self: flex-end;
    }

    &:nth-child(even) { 
      border-radius: 0 $noteWidth $noteWidth 0;
      flex-direction: row;
      align-self: flex-start;
    }
  }

  &__title {
    height: $noteHeight + 2vw;
    color: #ffffff;
    font-size: 4vw;
    writing-mode: vertical-rl;
    text-align: center;
    margin: 0 0.7vw;
    transition: 300ms linear;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }
  
}

.bnMenu {
  width: 3vw;
  &__btn {
    background: none;
    border: none;
    margin: 0.3vw 0;
    padding: 0;
    z-index: 1;
  }

  &__img {
    width: 2vw;
    height: 2vw;
    transition: 200ms linear;

    &:hover {
      width: 3vw;
      height: 3vw;
    }

    &--danger {
      fill: #ffd90070;
      &:hover {
        fill: red;
      }
    }

    &--normal {
      fill: #ffffffcc;
      &:hover {
        fill: #ffd900;
      }
    }
  }

}


.bgImgWrap {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;
  background: none;
  width: 100%;
  height: 100%;
  transition: 300ms linear;

  &--left {
    border-radius: $noteWidth 0 0 $noteWidth;
  }

  &--right { 
    border-radius: 0 $noteWidth $noteWidth 0;
  }
}

.bgImg {
  position: absolute;
  fill: #ffffff44;
  transition: 500ms linear;
}
